<footer class="bg-white border-t">
  <div class="px-8 md:px-12 mx-auto max-w-7xl py-6 lg:px-32">
    <section class="gap-y-6 gap-x-8">
      <div>
        <p
          class="text-sm text-zinc-600 lg:col-span-2"
          x-data="{ year: new Date().getFullYear() }"
        >
          © <span x-text="year"></span> ZenVie. All rights reserved. <a
            class="text-sm text-black hover:text-accent-400 underline"
            href="https://zen-vie-blog.vercel.app">ZenVie</a
          > <a
            class="text-sm text-black hover:text-accent-400 underline"
            href="https://www.linkedin.com/in/sosthene-mounsambote-311171248/">Sosthène Mounsambote</a
          >. This website was built with Astro &amp; Tailwind.
        </p>
      </div>
    </section>
  </div>
</footer>
